body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root:not(:empty) + .sk-cube-grid {
  display: none;
}

.sk-cube-grid {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}

.filesHTML div {
  border-radius: 4px;
  background: #33333391;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  float: left;
  width: 20%;
  margin-bottom: 1px;
  margin-right: 3px;
  height: 24px;
}
.filesHTML div img {
  float: right;
  /* margin-right: 5px; */
  width: 10px;
  text-align: right;
}
.opt-out .btn-primary.disabled,
.opt-out .btn-primary:disabled {
  background-color: grey !important;
  border-color: grey !important;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 28px;
  margin-top: 5px;
}
.react-multi-carousel-list {
  width: 90%;
  margin: 0 auto;
}
.carousel-slider {
  position: relative;
}

.hide {
  display: none !important;
}